{% extends 'common/base.html' %}
{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <p><small>By {{ post.author }} on {{ post.published_at }}</small></p>
        <div>{{ post.content|safe }}</div>
    </article>
    <section>
        <h2>Comments</h2>
        <ul>
            {% for comment in post.comments.all %}
                <li>{{ comment.body }} - <small>by {{ comment.author }}</small></li>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
